@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
	:root {
		--scrollbar-width: calc(100vw - 100%);
	}

	.tw-h-inherit {
		height: inherit;
	}

	/**  - Compensate width of element for scrollbar -
    *   so it does not hide behind the scrollbar 
    *   plus hence does not activate the x-scrollbar.
    *
    *   See https://codepen.io/shshaw/pen/JqGmKx
    **/
	.tw-w-full-cmpn-scrlb {
		width: calc(100% - var(--scrollbar-width)) !important;
	}
}

@layer components {
	/** 
     * Stack By Flex START
     * ******************
     * Vsibility: PRIVATE 
     *
     * Stack container that let it's elements stack up.
     * Additionally, as instrinsic to flex,
     * the stacked element's _CAN_ grow to take the 
     * same height as their stack container - see 
     * .tw-stack-flex-grow-my
     */
	.ptw-stack-byflex {
		display: flex;
		flex-direction: column;
	}

	/** 
     * Stack container that let it's elements stack up  
     * plus ...
     **/
	.tw-stack-byflex-grow-my {
		@apply ptw-stack-byflex;
	}

	/**
     * ... advise them to grow to its's height.
     **/
	.tw-stack-byflex-grow-my > * {
		@apply tw-stack-byflex-grow-me;
	}

	/** 
     * Stack container that let it's elements stack up plus  
     * advise them to expand to its's height.
     **/
	.tw-stack-flex-shrink-my {
		@apply ptw-stack-byflex;
	}

	/**
     * ... advise them to shrink to its's height.
     **/
	.tw-stack-flex-shrink-my > * {
		@apply tw-stack-byflex-shrink-me;
	}

	/** 
     * Exception classes have same specificity as the container
     * classes. Hence the exception classes MUST be listed in 
     * the stylesheet AFTER the container classes
     **/

	/**
     * Exception class for a stack container's element.
     * Enables the intrinsic, "natural" sizing of it's element.
     */
	.tw-stack-byflex-natural-me {
		flex-shrink: 0 !important;
		flex-grow: 0 !important;
	}

	/**
     * Exception class for a stack container's element.
     * Enables growing-only of it's element. 
     */
	.tw-stack-byflex-grow-me {
		flex-shrink: 0 !important;
		flex-grow: 1 !important;
	}

	/**
     * Exception class for a stack container's element.
     * Enables shrinking-only of it's element. 
     */
	.tw-stack-byflex-shrink-me {
		flex-shrink: 1 !important;
		flex-grow: 0 !important;
	}

	/** 
     * Stack By Flex END
     **/

	/**
      * OW Styles START
      * (should be in ow-styles.css, but tech issue)
      **/

	#description-example {
		@apply tw-text-blue-500 tw-border-2 tw-border-blueGray-300 tw-border-dashed tw-pl-2 tw-stack-2 tw-stack-byflex-natural-me;
	}

	/** 
     * OW Styles END
     **/
}
